.tip {
  display: flex;
  background-color: purple;
  padding: 10px;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: solid 2px rgb(207, 34, 207);
  margin-bottom: 20px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button_edit {
  background-color: purple;
  border: none;
  cursor: pointer;
  padding: 5px;
}
