button {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 1rem;
  color: purple;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: rgb(238, 65, 238);
  color: white;
  transform: translateY(-5px);
}
